/* Container Styles */
.portfolio__container {
  display: flex;
  flex-direction: column;
  gap: 1em;

  @media screen and (min-width: 768px) {
    gap: 2em;
  }
}

.portfolio__list {
  display: flex;
  flex-direction: column;
  gap: 2em;

  @media screen and (min-width: 768px) {
    gap: 4em;
  }
}

.portfolio-item {
  display: grid;
  grid-template-columns: auto;
  align-items: flex-start;
  border: 1px solid var(--hr-color);
  border-radius: 3px;
  background: rgb(255 255 255 / 60%);
  padding: 1em;
  gap: 1em;

  @media screen and (min-width: 1024px) {
    grid-template-columns: 1fr 1fr;
    gap: 2em;
  }
}

/* Technology Styles */
.portfolio__technology {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
  border-top: 1px solid var(--hr-color);
  border-bottom: 1px solid var(--hr-color);
  padding: 10px 3px;
  width: 100%;
  gap: 1.5em;

  @media screen and (min-width: 768px) {
    justify-content: flex-start;
    padding: 0.5em 1em;
    gap: 1em 2em;
  }
}

.portfolio__technology-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: var(--text-btn-info);
  font-size: 0.8em;
  font-weight: 700;
  gap: 0 5px;
}

.portfolio__filter .portfolio__technology {
  flex-wrap: nowrap;
  justify-content: flex-start;
  border: 0;
  padding: 5px 10px;
  overflow: scroll;

  @media screen and (min-width: 768px) {
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    overflow: inherit;
  }
}

.portfolio__filter .portfolio__technology-item.active {
  box-shadow: -4px 4px var(--bg-box-shadow);
  background: var(--text-btn-info);
  letter-spacing: 1px;
  color: white;
}

.portfolio__filter .portfolio__technology-item {
  border: 1px solid var(--hr-color);
  border-radius: 5px;
  box-shadow: -4px 4px var(--hr-color);
  background: white;
  cursor: pointer;
  padding: 5px 10px;
  text-shadow: -0.3px 0.3px var(--bg-box-shadow);
  font-size: 1em;

  @media screen and (min-width: 768px) {
    font-size: 1.3em;
  }
}

/* Content Styles */
.portfolio-item__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;

  @media screen and (min-width: 768px) {
    align-items: flex-start;
    justify-content: flex-start;
  }
}

.portfolio-item__image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.portfolio-item__image img {
  margin: 0 auto;
  border: 1px solid var(--hr-color);
  width: 100%;
}

.portfolio-item__label {
  border-radius: 3px;
  background: var(--text-btn-info);
  padding: 5px 20px;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  text-shadow: -1px 1px var(--bg-box-shadow);
  color: #fff;
  font-size: clamp(1.5em, 6vw, 2em);
  font-weight: 600;
}

/* Description Styles */
.portfolio-item__desc {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1em;
}

.portfolio-item__desc ul {
  display: grid;
  padding-left: 1em;
  list-style: disc;
  color: var(--text-primary);
  font-size: var(--font-paragraph-size-sm);
  gap: 0.5em;
}

.portfolio-item__desc ul li {
  border: 1px solid var(--hr-color);
  background-color: #f0f8ff;
  padding: 5px 10px;
  box-shadow: -3px 3px var(--hr-color);
}

.portfolio-item__desc li a::before {
  z-index: 1;
}

.portfolio-item__desc p {
  padding: 0 1em;
  text-align: center;
  text-transform: uppercase;
  font-size: .8em;
}

.portfolio-item__desc p a::before {
  z-index: 1;
}

.portfolio-item__button-container {
  display: inherit;
}

.portfolio-item__image .portfolio-item__button-container {
  display: none;

  @media screen and (min-width: 1024px) {
    display: block;
  }
}

.portfolio-item__content .portfolio-item__button-container {
  display: flex;
  justify-content: center;
  width: 100%;

  @media screen and (min-width: 1024px) {
    display: none;
  }
}