/* About.module.css */
.section_column {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.belief-wrapper {
  display: grid;
  grid-template-rows: 1fr;
  align-items: center;
  justify-content: center;
  border-top: 1px solid var(--hr-color);
  padding-top: 2em;
  gap: 3em;

  @media screen and (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
  }
}

.belief-image {
  margin: 0 auto;
}

.belief-section {
  display: flex;
  flex-direction: column;
  order: 1;
  gap: 1em;
  background: rgba(255, 255, 255, 0.6);
  border: 1px solid var(--hr-color);

  @media screen and (min-width: 1024px) {
    order: initial;
  }
}

.belief-list {
  display: grid;
  list-style: disc;
  color: var(--text-primary);
  font-size: var(--font-paragraph-size-sm);
  gap: 1em;
  padding: 0 2em 1em;
}

.belief-list li {
  border: 1px solid var(--hr-color);
  border-radius: 3px;
  padding: 5px 10px;
  background-color: #f0f8ff;
}

.belief-list li a::before {
  z-index: 1;
}

.page-subtitle {
  font-size: clamp(1.5em, 3vw, 7em);
  font-weight: 700;
  text-transform: uppercase;
  padding: 5px 1em;
  background: var(--text-btn-info);
  color: #fff;
  border-radius: 3px;
}

.bio_image {
  margin: 0 auto;
}