.hero__tech {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  line-height: 1.2;
  gap: 0.5em 1em;
  flex-wrap: wrap;
  margin-top: 1em;
}

.hero__subtitle {
  color: var(--text-primary);
  font-size: clamp(1em, 1.5vw, 2em);
}

.hero__tech-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: var(--text-primary);
  font-weight: 700;
  text-shadow: 0.2px 0.2px var(--bg-box-shadow);
  gap: 5px;
}