.heroContainer {
  display: grid;
  align-items: center;
  padding: 2em 5%;
  height: calc(100vh - 250px);
  min-height: 450px;
  user-select: none;
}

.imageWrapper {
  position: fixed;
  top: 10vh;
  right: -2vw;
  bottom: -3vh;
  left: -1vw;
  z-index: -1;
  background-image: url('/about/ar_left_head.svg'), url('/about/ar_right_head.svg');
  background-position: left top, right bottom;
  background-repeat: no-repeat;
  background-size: 15vw, 15vw;
  animation: levitate 20s ease-in-out infinite alternate;
}

@keyframes levitate {
  0% {
    transform: translate(0, 0);
  }

  25% {
    transform: rotate(1deg);
  }

  50% {
    transform: translate(10px, 0);
  }

  75% {
    transform: rotate(-1deg);
  }

  100% {
    transform: translate(-10px, 0);
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 0.5em;
}

.socialIcons {
  /* position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%; */
}

.socialIcons ul {
  display: flex;
  justify-content: center;
  gap: 1em;
}

.heroHeading {
  margin-top: 0.5em;
  text-transform: uppercase;
  text-shadow: -1px 1px var(--bg-box-shadow);
  line-height: 1.2;
  color: var(--text-primary);
  font-size: clamp(2em, 5vw, 10em);
  font-weight: 900;
}

.heroButtonContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1em;
}