.heroTech {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  line-height: 1.2;
  gap: 0.5em 1em;
  flex-wrap: wrap;
}

.hero_sub_title {
  color: var(--text-primary);
  font-weight: 200;
  font-size: clamp(1em, 2vw, 2em);
}

.techName {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: var(--text-primary);
  font-weight: 700;
  text-shadow: 0.2px 0.2px var(--bg-box-shadow);
  gap: 5px;
}