.heroContainer {
  display: grid;
  align-items: flex-start;
  padding: 2em 5%;
  min-height: 400px;
  user-select: none;
}

.hero-image {
  position: fixed;
  max-width: 50vw;
  transition: transform 0.2s ease;
  left: -20%;
  bottom: -15%;
  transform-origin: bottom left;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 0.5em;
}

.socialIcons {
  position: fixed;
  bottom: 1vh;
  right: 1vw;
}

.socialIcons ul {
  display: flex;
  justify-content: center;
  gap: 1em;
}

.heroHeading {
  text-transform: uppercase;
  text-shadow: -1px 1px var(--bg-box-shadow);
  line-height: 1.2;
  color: var(--text-primary);
  font-size: clamp(2em, 5vw, 10em);
  font-weight: 900;
}

.heroButtonContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1em;
}