.portfolio_list {
  display: flex;
  flex-direction: column;
  gap: 0.5em;

  @media screen and (min-width: 768px) {
    gap: 2em;
  }
}

.portfolio_items_container {
  display: flex;
  flex-direction: column;
  gap: 2em;

  @media screen and (min-width: 768px) {
    gap: 4em;
  }
}

.portfolio_item_image {
  border-radius: 4px;
  overflow: hidden;
}

.technologies {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  transition: all 0.3s;
  padding: 10px 3px;
  width: 100%;
  gap: 10px;

  @media screen and (min-width: 768px) {
    border-top: 1px solid var(--hr-color);
    border-bottom: 1px solid var(--hr-color);
    padding: 1em 10px;
    gap: 20px;
  }
}

.filter_buttons .technology.active {
  background: var(--bg-btn-primary);
  letter-spacing: 1px;
  color: var(--text-btn-primary);
}

.technology {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: var(--text-btn-info);
  gap: 0 5px;
}

.filter_buttons .technologies {
  flex-wrap: nowrap;
  border: 0;
  padding: 5px 10px;
  overflow: scroll;

  @media screen and (min-width: 768px) {
    flex-wrap: wrap;
    padding: 0;
    overflow: inherit;
  }
}

.filter_buttons .technologies {
  scrollbar-width: none;
}

/* Hide the scrollbar thumb */
.filter_buttons .technologies::-webkit-scrollbar {
  width: 0;
}

.filter_buttons .technologies::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.filter_buttons .technology {
  border: 1px solid var(--hr-color);
  border-radius: 999px;
  box-shadow: -4px 4px var(--bg-box-shadow);
  cursor: pointer;
  padding: 5px 10px;
  font-size: 1em;
  background: white;
  text-shadow: -0.3px 0.3px var(--bg-box-shadow);

  @media screen and (min-width: 768px) {
    font-size: 1.3em;
  }
}

.portfolio_item_content {
  display: flex;
  flex-direction: column;
  gap: 0.3em;

  @media screen and (min-width: 768px) {
    gap: 1em;

  }
}

.portfolio_item_content_label {
  color: var(--text-btn-info);
  font-size: 3em;
  font-weight: 600;
  text-shadow: -1px 1px var(--bg-box-shadow);

  @media screen and (min-width: 768px) {
    border-bottom: 1px solid var(--hr-color);
    font-size: 4em;
  }
}

.portfolio_item {
  display: grid;
  grid-template-columns: auto;
  align-items: flex-start;
  border-top: 1px solid var(--hr-color);
  padding-top: 1em;

  @media screen and (min-width: 768px) {
    grid-template-columns: 2fr 3fr;
    padding-bottom: 0;
    gap: 2em;
    border-top: 0;
  }
}

.portfolio_item:first-of-type {
  border-top: 0;
}

.portfolio_item_content_desc {
  line-height: 1.6;
  text-align: justify;
  list-style: inside;
  font-family: sans-serif;
  font-weight: 100;
  font-size: 0.9em;
  text-align: left;
  color: var(--paragraph-color);

  @media screen and (min-width: 768px) {
    font-size: 1em;
    text-align: left;
  }
}

.totalProjects {
  font-size: 2em;
  color: var(--text-btn-info);
  text-align: center;
  border-top: 1px solid var(--hr-color);
  border-bottom: 1px solid var(--hr-color);
}