.text-wrapper {
    display: flex;
    overflow: hidden;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    
    @media (min-width: 640px) {
        padding-top: 0;
        padding-bottom: 0;
    }
}

.text-wrapper__title {
    display: inline-block;
    font-size: 6rem;
    line-height: 1;
    font-weight: 700;
    text-transform: uppercase;
    width: 100%;
}

.random-color-word {
    display: inline-block;
}