.tech__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-image: radial-gradient(var(--hr-color) 2px, transparent 2px);
  background-position: 50% 50%;
  background-size: 3em 3em;
  gap: 0.5em;
}

.tech__wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 1em 0;
}

.tech__title {
  border-radius: 3px;
  background: var(--text-btn-info);
  padding: 5px 1em;
  text-align: center;
  text-transform: uppercase;
  text-shadow: -1px 1px var(--bg-box-shadow);
  color: #fff;
  font-size: clamp(1.5em, 3vw, 7em);
  font-weight: 700;
}

.tech__list {
  display: grid;
  grid-template-columns: 1fr;
  align-items: flex-start;
  justify-content: center;
  margin-top: 15px;
  gap: 1em;

  @media screen and (min-width: 520px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.tech-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border: 1px solid var(--hr-color);
  border-radius: 3px;
  box-shadow: -2px 2px var(--hr-color);
  background: rgb(255 255 255 / 90%);
  padding: 10px;
  gap: 10px;
}

.tech-item__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--hr-color);
  padding-bottom: 5px;
  width: 100%;
  gap: 5px;
}

.tech-item__description {
  color: var(--text-info);
  font-size: 0.8em;
}

.tech-item__label {
  color: var(--text-info);
  font-size: 1.2em;
  font-weight: 700;

  @media screen and (min-width: 768px) {
    font-size: 1.4em;
  }
}