.tech__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5em;
  padding-top: 2em;
}

.tech__wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 2em 1em;
  background-image: radial-gradient(var(--text-info) 1px, transparent 1px);
  background-position: 50% 50%;
  background-size: 1em 1em;
  border-radius: 5px;
}

.tech__title {
  font-size: 2em;
  text-align: center;
  text-transform: uppercase;
  color: var(--text-info);
  background: rgb(255 255 255 / 90%);
  border-top: 1px solid var(--hr-color);
  border-bottom: 1px solid var(--hr-color);
  font-weight: 900;
}

.tech__list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
  margin-top: 15px;
  align-items: flex-start;
  justify-content: center;

  @media screen and (min-width: 520px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media screen and (min-width: 1024px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.tech-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  background: rgb(255 255 255 / 90%);
  border: 1px solid var(--hr-color);
  border-radius: 4px;
}

.tech-item__container {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid var(--hr-color);
}

.tech-item__description {
  font-size: 0.8em;
  color: var(--text-info);
}

.tech-item__label {
  color: var(--text-info);
  font-size: 1.2em;
  font-weight: 700;

  @media screen and (min-width: 768px) {
    font-size: 1.4em;
  }
}