@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --cursor-default-background: #000;
  --cursor-text-background: #f6f4ef;
  --text-primary: #f6f4ef;
  --text-info: #586ba9;
  --bg-color: #586ba9;
  --bg-btn-primary: #586ba9;
  --text-btn-primary: #f6f4ef;
  --text-highlight: #000;
  --bg-btn-info: #f6f4ef;
  --paragraph-color: #33326e;
  --bg-box-shadow: #000;
  --text-btn-info: #586ba9;
  --hr-color: rgb(59 130 246 / 0.3);
  --font-heading-size-sm: 4em;
  --font-heading-size-md: 7em;
  --font-title-size-sm: 3em;
  --font-title-size-md: 5em;
  --font-paragraph-size-sm: 1em;
  --font-paragraph-size-md: 1.2em;
  --font-paragraph-weight: 100;
}

body {
  background: var(--bg-color);
  animation: theme 10s linear infinite;
}

body:after,
body:before {
  content: "";
  display: block;
  position: fixed;
  z-index: -1;
  top: 0;
  width: 100vw;
  height: 100vh;
  width: 100vmax;
  height: 100vmax;
  background: rgba(0, 0, 0, 0.05);
  animation: backgroundSpin 90s linear infinite;
}

body:after {
  left: 15vw;
}

body:before {
  right: 15vw;
  animation-delay: -30s;
  animation-direction: reverse;
}

@keyframes theme {
  0% {
    background: #586ba9;
  }

  16% {
    background: #5b59ba;
  }

  33% {
    background: #514ea7;
  }

  50% {
    background: #474594;
  }

  66% {
    background: #3d3a81;
  }

  83% {
    background: #33326e;
  }

  100% {
    background: #5b59ba;
  }
}

@keyframes backgroundSpin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

p {
  color: var(--paragraph-color);
  font-family: sans-serif;
  font-weight: 300;
}