@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Colors */
  --cursor-default-background: #000;
  --cursor-text-background: #f6f4ef;
  --text-primary: #586ba9;
  --text-info: #586ba9;
  --bg-btn-primary: #586ba9;
  --text-btn-primary: #f6f4ef;
  --text-highlight: #2983ea;
  --bg-btn-info: #f6f4ef;
  --paragraph-color: #33326e;
  --bg-box-shadow: #000;
  --text-btn-info: #586ba9;
  --hr-color: rgba(0, 0, 0, 0.1);
  /* Font Size */
  --font-heading-size-sm: 4em;
  --font-heading-size-md: 6em;
  --font-title-size-sm: 3em;
  --font-title-size-md: 4em;
  --font-paragraph-size-sm: 0.9em;
  --font-paragraph-size-md: 1em;
  /* Font Weight */
  --font-heading-weight: 900;
  --font-title-weight: 700;
  --font-paragraph-weight: 300;
}

body {
  background: transparent;
}

body::after {
  position: fixed;
  top: 0px;
  transform: translateZ(0px);
  opacity: 0.1;
  z-index: -1;
  background-image: radial-gradient(at 40% 40%, rgb(30, 144, 255) 0px, transparent 50%), radial-gradient(at 90% 10%, rgb(255, 105, 180) 0px, transparent 50%), radial-gradient(at 50% 95%, rgb(0, 255, 255) 0px, transparent 50%), radial-gradient(at 20% 30%, rgb(50, 205, 50) 0px, transparent 50%), radial-gradient(at 90% 90%, rgb(255, 255, 0) 0px, transparent 50%), radial-gradient(at 33% 50%, rgb(255, 69, 0) 0px, transparent 50%), radial-gradient(at 79% 53%, rgb(128, 0, 128) 0px, transparent 50%);
  width: 100%;
  height: 100%;
  content: "";
  filter: blur(100px) saturate(100%);
}

body::before {
  position: fixed;
  transition: all 0.5s linear 0s;
  z-index: -1;
  background: linear-gradient(rgba(113, 113, 113, 0.07) 1px, transparent 1px) 0% 0% / 94px 90px, linear-gradient(to right, rgba(113, 113, 113, 0.07) 1px, transparent 1px) 0% 0% / 94px 90px;
  width: 100vw;
  height: 100vh;
  color: rgba(113, 113, 113, 0.07);
  content: "";
}

p {
  color: var(--paragraph-color);
}

.highlight {
  position: relative;
  font-weight: bold;
}

.highlight::before {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: scale3d(1, 1, 1);
  transform-origin: 0% 50%;
  transition: transform 0.5s;
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  opacity: 0.3;
  z-index: -1;
  background-color: var(--text-highlight);
  width: 100%;
  height: 50%;
  content: "";
}

/* Pages Style */
.page-container {
  display: flex;
  flex-direction: column;
  padding: 0 5% 5%;
  line-height: 1.5;
  gap: 1em;

  @media screen and (min-width: 768px) {
    gap: 2em;
  }
}

.page-heading {
  border-top: 1px solid var(--hr-color);
  border-bottom: 1px solid var(--hr-color);
  background: rgb(255 255 255 / 30%);
  text-align: center;
  text-transform: uppercase;
  text-shadow: -1px 1px var(--bg-box-shadow);
  color: var(--text-btn-info);
  font-size: clamp(2em, 5vw, 4em);
  font-weight: var(--font-heading-weight);
}

.page-subheading {
  border-top: 1px solid var(--hr-color);
  border-bottom: 1px solid var(--hr-color);
  background: rgb(255 255 255 / 30%);
  text-align: center;
  text-transform: uppercase;
  text-shadow: -1px 1px var(--bg-box-shadow);
  color: var(--text-btn-info);
  font-size: clamp(1.5em, 3vw, 3em);
  font-weight: var(--font-title-weight);
}