/* Menu.module.css */
.menu {
  display: flex;
  position: sticky;
  flex-wrap: nowrap;
  white-space: nowrap;
  align-items: center;
  justify-content: flex-start;
  overflow-x: scroll;
  z-index: 10;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background: rgb(255 255 255 / 50%);
  padding: 0 2em;
  width: 100%;
  gap: 0.2em 2em;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;

  @media screen and (min-width: 768px) {
    align-items: center;
    justify-content: center;
  }
}

.menu::-webkit-scrollbar {
  display: none;
}

.menu__item {
  display: flex;
  position: relative;
  flex-direction: column;
  margin: 0.5em 0 1em;
  outline: none;
  line-height: 1;
}

.menu__item-name,
.menu__item-label {
  display: inline-block;
  position: relative;
}

.menu__item-name {
  transition: color 0.5s;
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  line-height: 1.4;
  font-size: 1em;
  font-weight: 900;
}

.menu__item-label {
  transform: translate3d(0, 0, 0);
  transition: transform 0.5s, color 0.5s;
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  letter-spacing: 0.05em;
  font-size: 0.7em;
}

.menu a {
  color: #2e4055;
}

.menu__item-name::before {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: scale3d(0, 1, 1);
  transform-origin: 0% 50%;
  transition: transform 0.5s;
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  opacity: 0.3;
  z-index: -1;
  width: 100%;
  height: 50%;
  content: "";
}

.menu__item-label::before {
  position: absolute;
  top: 1.25em;
  left: 0.05em;
  transform: scale3d(0, 1, 1);
  transform-origin: 100% 50%;
  transition: transform 0.5s;
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  opacity: 0.3;
  z-index: -1;
  width: 100%;
  height: 1px;
  content: "";
}

.menu__item-name::before,
.menu__item-label::before {
  background: #2983ea;
}

/* Hover */
.menu__item:hover,
.menu__item.active,
.menu__item:focus {
  color: #2983ea;
}

.menu__item:hover .menu__item-name::before,
.menu__item.active .menu__item-name::before,
.menu__item:focus .menu__item-name::before,
.menu__item:hover .menu__item-label::before,
.menu__item.active .menu__item-label::before,
.menu__item:focus .menu__item-label::before {
  transform: scale3d(1, 1, 1);
}

.menu__item:hover .menu__item-label,
.menu__item.active .menu__item-label,
.menu__item:focus .menu__item-label {
  transform: translate3d(0.5em, 0, 0);
}

.menu__item:hover .menu__item-label::before,
.menu__item.active .menu__item-label::before,
.menu__item:focus .menu__item-label::before {
  transform-origin: 0% 50%;
  transition-timing-function: ease;
}