/* Navbar.module.css */

.navbar-wrapper {
    position: relative;
    height: 90px;
}

.navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 2.25rem;
    padding: 2em 4vw;
    padding-left: 4vw;
    font-weight: 700;
}

.menu-icon:hover {
    transform: scale(1.1);
}

.menu-icon,
.close-icon {
    width: 70px;
    height: 65px;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 66%;
    display: block;
    position: absolute;
    top: 1vw;
    right: 3vw;
    z-index: 120;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.close-icon svg {
    padding: 5px;
}

.close-icon:hover {
    transform: scale(1.1);
}

.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    clear: both;
    width: 100%;
    padding-top: 3em;
    padding-bottom: 3em;
    z-index: 110;
    padding-left: 1em;
    background-color: #000;
    -webkit-box-shadow: 0px 10px 49px -1px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: 0px 10px 49px -1px rgba(0, 0, 0, 0.45);
    box-shadow: 0px 10px 49px -1px rgba(0, 0, 0, 0.45);
    display: none;
    background-image: url(https://2020.demuxed.com/images/svg/rough-edge-top-f61d2b75.svg),url(https://2020.demuxed.com/images/svg/rough-edge-btm-fa828d93.svg);
    background-position: top, bottom;
    background-repeat: no-repeat, no-repeat;
    background-size: 110%, 110%;
}

.sidebar.active {
    display: block;
    transition: all 0.3s ease-in-out;
}

.social-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.social-links__item {
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    width: 1.5rem;
}
