.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 2%;
  gap: 1em;

  @media screen and (min-width: 768px) {
    cursor: default;
    padding: 5px 20px;
  }
}

.brand {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
}

.logo {
  z-index: 99999;
  width: 75px;
  height: 75px;
}

.brand-link {
  display: none;
  text-shadow: -1px 1px var(--bg-box-shadow);

  @media screen and (min-width: 768px) {
    display: block;
    z-index: 50;
    margin-left: 1rem;
    text-transform: uppercase;
    color: var(--text-primary);
    font-size: 1.8rem;
    font-weight: 600;
  }
}

.nav-buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.dropdown-icon {
  z-index: 1000;
  border: 1px solid var(--text-btn-info);
  border-radius: 9999px;
  box-shadow: -8px 8px var(--bg-box-shadow);
  background-color: var(--bg-btn-info);
  padding: 0.5rem;
  color: var(--text-btn-info);
}