/* Experience.module.css */
.experience {
  position: relative;
  margin-top: 0.5em;
  border-top: 1px solid var(--hr-color);
  border-left: 1px solid var(--hr-color);
  padding: 3em 2em 2em;
  color: var(--text-btn-info);
}

.experience::before {
  display: block;
  position: absolute;
  top: 1em;
  left: 2em;
  color: var(--text-btn-info);
  font-size: 0.785rem;
  content: attr(data-duration);
}

.experience::after {
  display: block;
  position: absolute;
  top: 5em;
  left: -10px;
  border: 1px solid var(--hr-color);
  border-radius: 10px;
  background: var(--text-btn-info);
  width: 20px;
  height: 20px;
  content: "";
}

.experience__wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 1em;
  gap: 1em;
}

.experience__header h4 {
  font-size: clamp(1.2em, 2vw, 2em);
  font-weight: 700;
}

.experience__header h5 {
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: clamp(1.2em, 2vw, 1.5em);
}

.experience__content ul {
  list-style: inside;
  text-align: left;
  font-size: 0.8em;

  @media screen and (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: var(--font-paragraph-size-sm);
    gap: 2em;
  }
}

.experience__logo {
  min-width: 80px;
}