/* Experience.module.css */
.experience {
  position: relative;
  margin-top: 0.5em;
  border: 1px solid var(--hr-color);
  padding: 1em 2em;
  color: var(--text-btn-info);
  background-color: rgba(255 255 255 / 60%);
}

.experience::before {
  display: block;
  width: 80%;
  color: var(--text-btn-info);
  font-size: 0.785rem;
  content: attr(data-duration);
}

.experience::after {
  display: block;
  position: absolute;
  top: 5em;
  left: -10px;
  border: 1px solid var(--hr-color);
  border-radius: 10px;
  background: var(--text-btn-info);
  width: 20px;
  height: 20px;
  content: "";
}

.experience__wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 0.5em 0 1em;

  @media screen and (min-width: 600px) {
    gap: 1em;
  }
}

.experience__header {
  display: grid;
  gap: 0.5em;
}

.experience__title {
  font-size: clamp(1.2em, 2vw, 2em);
  font-weight: 700;
}

.experience__company {
  text-transform: uppercase;
  font-size: clamp(1.2em, 2vw, 1.5em);
}

.experience__location {
  font-size: 0.9em;
}

.experience__content {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.experience__content p {
  text-transform: uppercase;
  padding: 5px 1em;
  background: var(--text-btn-info);
  color: white;
  border-radius: 3px;
  font-size: 0.8em;
  font-family: var(--font-poppins);
}

.experience__content ul a::before {
  background-color: var(--text-btn-info);
  z-index: 1;
}

.experience__content ul {
  display: grid;
  list-style: disc;
  text-align: left;
  font-size: 0.8em;
  padding-left: 1em;
  gap: 0.5em;
  grid-template-columns: 1fr;

  @media screen and (min-width: 768px) {
    font-size: var(--font-paragraph-size-sm);
  }
}

.experience__content ul li {
  border: 1px solid var(--hr-color);
  padding: 5px 10px;
  background-color: aliceblue;
  box-shadow: -2px 2px var(--hr-color);
}

.experience__logo {
  position: absolute;
  top: 3px;
  right: 3px;
  width: 50px;

  @media screen and (min-width: 600px) {
    position: relative;
    display: block;
    min-width: 80px;
  }
}